{% block footer %}
    <footer class="footer">
        <div class="footer__social-media">                
            <a href="/"><img src="\assets\images\facebook.png" alt="" width="30px"></a>
            <a href="/"><img src="\assets\images\instagram.png" alt="" width="30px">
            </a>                
        </div>
        <p class="footer__rights">
            &copy; 2022 Charles CANTIN, Tous droits résérvés
        </p>
        <div class="footer__rgpd">
            <a href="/mentions-legales">Mentions légales</a> | <a href="/politique-de-confidentialite">Politique de confidentialité</a>
        </div>
    </footer>
    
{% endblock %}