<header class="header">
    <nav class="navbar">
        <div class="navbar__brand ms-3">           
            <a href="/"><img src="/assets/images/logo.svg" alt="icone site Charles CANTIN Photographe"></a>            
        </div>
        <div class="navbar__burger me-3">
            <img id="burger" src="/assets/images/list.svg" alt="icone du menu burger">            
        </div>
        <div id="main" class="navbar__main">
            <ul id="link">
                <li><a class="link" href="/">Accueil</a></li>
                <li><a class="link" href="/gallery/">Galerie</a></li>
                <li><a class="link" href="/tarifs/">Tarifs</a></li>
                <li><a class="link" href="/contact/">Contact</a></li>
            </ul>
            <div class="navbar__social-media">                
                <a href="/"><img src="\assets\images\facebook.png" alt="" width="30px"></a>
                <a href="/"><img src="\assets\images\instagram.png" alt="" width="30px">
                </a>                
            </div>
        </div>
    </nav>
</header>