<header>
    <nav>
        <div class="brand"></div>
        <div class="main">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Galerie</a></li>
                <li><a href="/prices">Tarifs</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="social-media">
            <img src="\assets\images\facebook.png" alt="" width="30px">
            <img src="\assets\images\instagram.png" alt="" width="30px">
        </div>
    </nav>
</header>