<!DOCTYPE html>
<html lang="en">
<head>
    {% include "basehead.html" %}
    {% block head %}{% endblock %}
</head>
<body id="body">
    {% include "header.html" %}

    <div id="container">     

        {% block headergallery %}{% endblock %}
        {{ content | safe }}
        
        {% include "footer.html" %}
    </div>
    <script defer  src="/js/script.js"></script>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>