.footer {
    position: absolute;  
    width: 100%;
    bottom: 0;
    background : linear-gradient(to left, #46545da4, #46545d 60%);
    text-align: center;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.4);
    &__social-media {
        display: flex;
        justify-content: center;
        a {
            padding : 5px;
        }
    }
    &__rights {
        padding-top: 10px;
    }
    &__rgpd {
        padding-top : 5px;
        a {
            padding:5px 0 10px;
            text-decoration: none; 
            color : inherit;
        }
    }
}
