.header {
    // position: relative;
    li {
        list-style : none
    }
    display: flex;
    height: 80px;
    // background : #46545d;
    background : linear-gradient(to right, rgba(70, 84, 93, 0.644), #46545d);
}

.navbar {
    width: 100vw;
    margin : auto 20px;
    padding : 0;
    img {
        width : 50px;
    }
    &__main ul {
        // display : flex;
        margin : 0;
        padding : 0;
    }
    &__main a {
        text-decoration : none;
        color : black;
    }
}
