body, html {
    height: 100vh;

}
body {
    font-family: 'Lato', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    li {
        list-style : none
    }
    display: flex;
    height: 80px;
    // background : #46545d;
    background : linear-gradient(to right, #46545da4, #46545d 60%);
}

.navbar {
    position: relative;
    width: 100vw;
    margin : auto;
    padding : 0;
    &__brand img {
        height: 70px;
    }
    &__burger img {
        width: 40px;
    }
    &__main {
        position: absolute;
        background: linear-gradient(#46545d, rgba(255, 255, 255, 0.3), #46545d); 
        width: 40vw;
        right: 0px;
        transition: 1s ease-in;
        -webkit-transition: 1s ease-in;
        -moz-transition: 1s ease-in;
        -ms-transition: 1s ease-in;
        -o-transition: 1s ease-in;
        top: 74px;
        z-index: 100;
        .item {
            padding: 10px 20px;
            // height: 40px;
        }
        a {
            text-decoration : none;
            color : white;
        }
        ul {
            // display : flex;
            margin : 0;
            padding : 0;
        }
    }
    &__social-media {
        margin-top: 10px;
        border-top: 2px solid ;
        display: flex;
        padding: 10px;
        justify-content: space-around;
    }
}



@media screen and (min-width : 576px){
    .navbar {
        position: relative;
        &__burger {
            display: none;
        }
        &__main {
            position: relative;
            width: auto;
            display: flex;
            top: 0;
            right: 0;
            background: transparent;
            ul {
                display: flex;
            }
        }
        &__social-media {
            margin: 0;            
            border-top: none ;
            // display: flex;
            padding: 10px;
            // justify-content: space-around;
        }
    }

}