.header {
    li {
        list-style : none
    }
    height : 150px;
    background : #46545d;
}



.navbar {
    display: flex;
    margin : 0 ;
    padding : 0;
    img {
        width : 50px;
        margin-right : 20px;
        padding : 0;
    }
    &__main ul {
        // display : flex;
        margin : 0;
        padding : 0;
    }
    &__main a {
        text-decoration : none;
        color : black;
    }
}
