.contact {
    height: 100vh;
    // height: calc (100vh-17vh);
    margin-top: 80px;
    &__title {
        padding-top: 10px;
        text-align: center;
    }
    &__form {
        margin: 10px;
        label, input {
            // display: inline-block;
            // width: 200px;
        }
    }
}

@media screen and (min-width : 576px) {
    
}