.contact {
    margin-top: 80px;
    &__title {
        padding-top: 10px;
        text-align: center;
    }
    &__form {
        margin: 10px;
        label, input {
            // display: inline-block;
            // width: 200px;
        }
    }
}