.contact {
    margin-top: 80px;
    &__title {
        padding-top: 10px;
        text-align: center;
        color: #46545d;
        font-weight: bold;
    }
    &__form {
        margin: 20px;
        
    }
}

@media screen and (min-width : 576px) {
    .contact {
        margin: 20px 20vw 10px;
    }
}