.home {
    margin-top: 80px;
    z-index: 1;
    height: 89vh;
    background: url("../../assets/images/image-home.jpg") no-repeat center center fixed;
    &__title {
        z-index: 2;
        color: rgba(255, 255, 255, 0.9);
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        .identity {
            font-size: 2.5rem;
            font-weight: 700;
        }
        .job {
            display: block;
            font-size: 3rem;
            margin-top: 5px;
            font-family: 'Dancing Script', cursive;         
        }
    }
}

@media screen and (min-width : 650px) {
    .home {
        background: url("../../assets/images/charlescantin.jpg") no-repeat center center;
        margin-top: 0;
        &__title {
            .identity {
                font-size: 5rem;
                font-weight: 700;
                color: white;
            }
            .job {
                display: block;
                font-size: 5rem;
                margin-top: 5px;
                font-family: 'Dancing Script', cursive;         
            }
        }
    }
}