.privacy-policy {
    margin: 100px 20px;
    h1 {
        text-align: center;
        color: #46545d;
        font-weight: bold;
    }
    h1, h4 {
        margin: 16px 0;
        font-weight: bold;
    }
}

@media screen and (min-width : 650px){
    .privacy-policy{
        margin: 20px 20vw;
    }
}